@font-face {
	src: url(/assets/fonts/Montserrat/static/Montserrat-Medium.ttf);
	font-family: Montserrat;
}

:root {
	--main-color: #ffffff;
	--sec-color: #8b909a;
	--primary-color: #23272e;
	--pdg-color: #ffc600;
	--pdg-bg-color: #ffc60029;
	--active-bg-color: #8a33fd;
	--cnf-color: #1eb564;
	--cnf-bg-color: #28c76f29;
	--cal-bg-color: #ea545529;
	--cal-color: #ea5455;
	--bd-color: #e9e7fd;
	--shd-bd-color: #7e7ba033;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Montserrat, sans-serif;
}

body {
	background-color: #fafafa;
	width: 100%;
}

main {
	max-width: 1300px;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(260px, 1fr 1fr);
	justify-items: center;
	grid-template-areas: "aside_container1 aside_container2 aside_container2";
}

main aside#continer_aside-1 {
	grid-area: aside_container1;
	background-color: var(--main-color);
	width: 260px;
	display: flex;
	flex-direction: column;
	gap: 1.8rem;
	padding: 1.6rem;
}

aside#continer_aside-1 figure.logo {
	width: 100%;
	display: flex;
	justify-content: center;
}

figure.logo img {
	width: 60px;
	height: 50px;
	object-fit: contain;
	object-position: center;
}

figure.logo + section {
	width: 100%;
}

figure.logo + section ul {
	list-style-type: none;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-block: 2.3rem;
	position: relative;
}

figure.logo + section ul h2 {
	color: var(--sec-color);
	font-size: 11px;
	font-weight: 400;
}

figure.logo + section ul li {
	color: var(--sec-color);
	height: 40px;
	font-size: 15px;
	font-weight: 400;
	padding: 4px 8px;
	display: flex;
	align-items: center;
	gap: 10px;
	border-radius: 6px;
	transition: all 0.3s ease;
	cursor: pointer;
}

figure.logo + section ul li:hover {
	background-color: var(--active-bg-color);
	color: var(--main-color);
}

main aside#continer_aside-2 {
	grid-area: aside_container2;
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 1.6rem;
	position: relative;
}

aside#continer_aside-2 header.aside2_container {
	width: 100%;
	height: 62px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header.aside2_container h1 {
	color: var(--primary-color);
	font-size: 24px;
	font-weight: 700;
	line-height: 22px;
}

header.aside2_container div.actions {
	display: flex;
	align-items: center;
	gap: 1rem;
	position: relative;
}

div.actions p {
	position: relative;
	width: fit-content;
	height: fit-content;
	cursor: pointer;
}

div.actions p span {
	background-color: var(--cal-color);
	color: var(--main-color);
	width: 16px;
	height: 16px;
	position: absolute;
	top: -8px;
	right: -6px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 11px;
	font-weight: 600;
	line-height: 12px;
	border-radius: 50%;
}

div.actions p i {
	color: #4b465c;
	font-size: 22px;
}

div.actions figure.profile-img {
	width: 30px;
	height: 30px;
	position: relative;
}

figure.profile-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	border-radius: 50%;
}

figure.profile-img figcaption {
	background-color: #28c76f;
	height: 8px;
	width: 8px;
	position: absolute;
	right: 0;
	bottom: 0;
	border: 2px solid var(--main-color);
	border-radius: 50%;
}

div.actions div.notification_popup {
	background-color: var(--main-color);
	height: 500px;
	width: 400px;
	position: absolute;
	right: 0;
	top: 2.5rem;
	padding: 1.3rem;
	display: flex;
	flex-direction: column;
	gap: 1.6rem;
	z-index: 10;
	border-radius: 10.8px;
	box-shadow: -10px 48px 140px var(--shd-bd-color);
}

div.notification_popup div.xmark-popup {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

div.xmark-popup h2 {
	color: var(--active-bg-color);
	font-weight: 700;
	font-size: 16px;
	line-height: 14.1px;
	letter-spacing: 1px;
}

div.xmark-popup button {
	background-color: #e5e5e5;
	height: 24px;
	width: 24px;
	padding: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	border-radius: 50%;
	cursor: pointer;
}

div.notification_popup ul {
	width: 100%;
}

div.notification_popup ul li {
	padding-block: 1rem;
	list-style: none;
}

div.notification_popup ul li figure {
	display: flex;
	gap: 1rem;
}

div.notification_popup ul li figure img {
	width: 38px;
	height: 38px;
	object-fit: cover;
	object-position: center;
	border-radius: 50%;
}

div.notification_popup ul li figure figcaption {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

div.notification_popup ul li figure figcaption strong {
	color: #000000;
	font-weight: 700;
	font-size: 15px;
	line-height: 16.45px;
}

div.notification_popup ul li figure figcaption strong + span {
	color: var(--sec-color);
	font-weight: 400;
	font-size: 13px;
	line-height: 14.1px;
}

div.notification_popup ul li figure figcaption strong + span + span {
	color: #6f6c99;
	font-weight: 400;
	font-size: 11px;
	line-height: 12.93px;
	margin-top: 0.5rem;
}

aside#continer_aside-2 div.modal_header {
	width: 100%;
	height: 194px;
	background-color: var(--main-color);
	display: flex;
	justify-content: space-between;
	margin-block: 2rem;
	padding-inline: 1.1rem;
	padding-block: 1.6rem;
}

div.Category_progress {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-block-end: 1rem;
}

div.Category_progress h3 {
	color: #1570ef;
	font-weight: 700;
	font-size: 13px;
	text-transform: uppercase;
	line-height: 15.28px;
}

div.Category_progress p {
	display: flex;
	flex-direction: column;
	gap: 7px;
}

div.Category_progress p strong {
	font-weight: 700;
	font-size: 24px;
	line-height: 22px;
}

div.Category_progress p span {
	color: var(--sec-color);
	font-weight: 500;
	font-size: 13px;
	line-height: 18px;
	letter-spacing: -0.5px;
}

article.total_progress,
div.customer_shipping_add,
div.stocks {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-left: 2px solid var(--bd-color);
	padding-inline-start: 1rem;
	padding-block-end: 1rem;
}

article.total_progress h4 {
	color: #e19133;
}

div.customer_shipping_add h3 {
	color: #845ebc;
	font-weight: 700;
	font-size: 13px;
	line-height: 15.28px;
	text-transform: uppercase;
}

div.stocks h3 {
	color: var(--cal-color);
	font-weight: 700;
	font-size: 13px;
	line-height: 15.28px;
	text-transform: uppercase;
}

div.revenue_info,
div.customer_order_record {
	display: flex;
	gap: 1.5rem;
}

div.stocks h3 + div {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

div.stocks h3 + div div {
	display: flex;
	gap: 1rem;
}

div.stocks h3 + div div p,
div.stocks h3 + div div + p {
	display: flex;
	flex-direction: column;
}

.low_color {
	color: var(--pdg-color);
}

.in-color {
	color: var(--cnf-color);
}

.out-color {
	color: var(--cal-color);
}

div.revenue_info p,
div.customer_order_record p {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

div.revenue_info p strong,
div.customer_order_record p strong,
div.stocks strong {
	color: var(--primary-color);
	font-weight: 700;
	font-size: 24px;
	line-height: 22px;
}

div.revenue_info p span,
div.customer_order_record p span {
	color: var(--sec-color);
	font-weight: 500;
	font-size: 13px;
	line-height: 18px;
	letter-spacing: -0.5px;
}

div.stocks span {
	font-weight: 500;
	font-size: 13px;
	line-height: 18px;
	letter-spacing: -0.5px;
}

div.add_product_category {
	display: flex;
	gap: 0.5rem;
}

div.add_product_category button {
	background-color: #8a33fd;
	color: var(--main-color);
	width: 152px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

section.search_filter {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-block-end: 1rem;
}

section.search_filter form.search,
section.search_filter select {
	width: 200px;
	height: 40px;
	box-shadow: 0px 4px 16px #0000000a;
}

section.search_filter select {
	background-color: var(--main-color);
	color: var(--sec-color);
	font-weight: 400;
	font-size: 15px;
	line-height: 21px;
	border: none;
	border-radius: 4px;
	outline: none;
	cursor: pointer;
}

section.search_filter form.search input {
	background-color: var(--main-color);
	color: var(--sec-color);
	height: 100%;
	font-weight: 400;
	font-size: 15px;
	line-height: 21px;
	padding-inline-start: 1rem;
	border: none;
	border-radius: 4px;
	outline: none;
}

article#product_progress_container {
	width: 100%;
	display: flex;
	flex-direction: column;
}

article#product_progress_container section.pending_order_container,
article#product_progress_container section.confirmed_order_container,
article#product_progress_container section.cancel_order_container,
article#product_progress_container section.all_order_container {
	width: 100%;
}

section.pending_order_container table,
td,
th {
	border: 1px solid var(--bd-color);
	border-left: none;
	border-right: none;
}

section.confirmed_order_container table,
td,
th {
	border: 1px solid var(--bd-color);
	border-left: none;
	border-right: none;
}

section.cancel_order_container table,
td,
th {
	border: 1px solid var(--bd-color);
	border-left: none;
	border-right: none;
}
section.all_order_container table,
td,
th {
	border: 1px solid var(--bd-color);
	border-left: none;
	border-right: none;
}

section.pending_order_container table,
section.confirmed_order_container table,
section.cancel_order_container table,
section.all_order_container table {
	width: 100%;
	background-color: var(--main-color);
	border-collapse: collapse;
	border-top: none !important;
}

section.pending_order_container table tr.row td,
section.confirmed_order_container table tr.row td,
section.cancel_order_container table tr.row td,
section.all_order_container table tr.row td {
	text-align: center;
}

section.pending_order_container td,
th {
	padding-inline: 1rem;
	padding-block: 0.5rem;
}

section.confirmed_order_container td,
th {
	padding-inline: 1rem;
	padding-block: 0.5rem;
}

section.cancel_order_container td,
th {
	padding-inline: 1rem;
	padding-block: 0.5rem;
}

section.all_order_container td,
th {
	padding-inline: 1rem;
	padding-block: 0.5rem;
}

section.pending_order_container tr.row td,
section.confirmed_order_container tr.row td,
section.cancel_order_container tr.row td,
section.all_order_container tr.row td {
	color: var(--primary-color);
	font-weight: 400;
	font-size: 15px;
	line-height: 22px;
}

section.pending_order_container tr.row td:nth-child(1),
section.confirmed_order_container tr.row td:nth-child(1),
section.cancel_order_container tr.row td:nth-child(1),
section.all_order_container tr.row td:nth-child(1) {
	font-weight: 600;
}

section.pending_order_container tr.row td:nth-child(5) mark,
section.confirmed_order_container tr.row td:nth-child(5) mark,
section.cancel_order_container tr.row td:nth-child(5) mark,
section.all_order_container tr.row td:nth-child(5) mark {
	background-color: var(--cnf-bg-color);
	color: #28c76f;
	padding: 4px;
	font-weight: 600;
	font-size: 13px;
	line-height: 14px;
	border-radius: 4px;
}

tr.row td:nth-child(6) span {
	height: 24px;
	padding: 4px;
	font-weight: 600;
	font-size: 13px;
	line-height: 14px;
	border-radius: 4px;
}

section.pending_order_container tr.row td:nth-child(6) span {
	background-color: var(--pdg-bg-color);
	color: var(--pdg-color);
}
section.confirmed_order_container tr.row td:nth-child(6) span {
	background-color: var(--cnf-bg-color);
	color: var(--cnf-color);
}

section.cancel_order_container tr.row td:nth-child(6) span {
	background-color: var(--cal-bg-color);
	color: var(--cal-color);
}

section.pending_order_container th,
section.confirmed_order_container th,
section.cancel_order_container th,
section.all_order_container th {
	color: var(--sec-color);
	font-weight: 500;
	font-size: 13px;
	line-height: 15.28px;
	text-transform: uppercase;
}
tr.no_border th {
	border-top: none !important;
}

.style th:nth-child(1) {
	display: flex;
	justify-content: space-between;
}

.modal_row_order td:nth-child(1) {
	text-align: end;
}

tr.row button {
	background-color: transparent;
	color: #4b465c;
	width: 24px;
	height: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #4b465c;
	border-radius: 50%;
	cursor: pointer;
}

tr:hover {
	background-color: #f2f4f6;
}

tr.no_border:hover {
	background-color: var(--main-color);
}

tbody.modal_order_body,
thead.modal_order_header {
	background-color: #fafafa !important;
}

thead.modal_order_header th {
	border-top: none;
}

tbody.modal_order_body td {
	color: var(--primary-color);
	font-weight: 400px;
	font-size: 15px;
	line-height: 22px;
}

tbody.modal_order_body td:nth-child(1) {
	font-weight: 700;
	line-height: 22px;
}

tbody.modal_order_body td:nth-child(4),
tbody.modal_order_body td:nth-child(5) {
	text-align: center;
}

tr.row td i {
	font-size: 9px;
}

tr.modal_row_order td:nth-child(5) {
	color: var(--cal-color);
	font-weight: 400;
	font-size: 15px;
	line-height: 22px;
}

td.indicate_style {
	color: var(--sec-color) !important;
}
tr.modal_total_row td:nth-child(7) {
	text-align: center;
	font-weight: 600;
	font-size: 13px;
	line-height: 14px;
	border-radius: 4px;
	margin-block-end: 2rem;
}

section.pending_order_container tr.modal_total_row td:nth-child(7) {
	color: var(--pdg-color);
}

section.confirmed_order_container tr.modal_total_row td:nth-child(7) {
	color: var(--cnf-color);
}

section.cancel_order_container tr.modal_total_row td:nth-child(7) {
	color: var(--cal-color);
}

tr.row td:nth-child(7) {
	display: flex;
	justify-content: center;
	align-items: center;
}

tr.modal_ship_row_total td,
tr.modal_order_row_total td,
tr.modal_discount_row_total td,
tr.modal_total_row td {
	border: none;
}

td#color_style {
	color: var(--cal-color) !important;
}

div.pagination_container {
	background-color: var(--main-color);
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding-block: 1rem;
	padding-inline: 1.5rem;
}

div.pagination_container p,
div.pagination_container div.num_pagi_container span {
	color: var(--sec-color);
	display: flex;
	align-items: center;
	gap: 0.5rem;
	font-weight: 500;
	font-size: 15px;
	line-height: 17.63px;
	letter-spacing: 0.43px;
}

div.pagination_container p select {
	border: none;
	outline: none;
	cursor: pointer;
}

div.num_pagi_container {
	display: flex;
	gap: 5px;
}

div.pignation_count {
	display: flex;
	gap: 5px;
}

div.num_pagi_container button,
div.pignation_count div {
	background-color: #f1f2f6;
	color: var(--sec-color);
	display: inline-block;
	text-align: center;
	height: 28px;
	width: 28px;
	padding: 4px;
	font-weight: 400;
	font-size: 13px;
	line-height: 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.active_pagination {
	background-color: var(--active-bg-color) !important;
	color: var(--main-color) !important;
	box-shadow: 0px 2px 4px #a5a3ae4d;
}

div.create-new-category-popup {
	background-color: var(--main-color);
	max-width: 549px;
	width: 90%;
	height: fit-content;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	position: absolute;
	left: 20%;
	top: 20%;
	padding: 2rem;
	z-index: 20;
	border-radius: 16px;
	box-shadow: 0px 3px 20px var(--bd-color);
}

div.create-new-header {
	display: flex;
	/* align-items: center; */
	gap: 1rem;
}

div.create-new-header figure {
	height: 40px;
	width: 40px;
	background-color: #ece9fe;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

div.create-new-header figure + p {
	display: flex;
	flex-direction: column;
	width: 80%;
}

div.create-new-header figure + p strong {
	color: var(--primary-color);
	margin-block-end: 0.5rem;
	font-weight: 500;
	font-size: 24px;
	line-height: 22px;
}

div.create-new-header figure + p span {
	color: #85898e;
	font-weight: 400;
	font-size: 15px;
	line-height: 17.63px;
}

div.create-new-header button {
	background-color: transparent;
	height: 24px;
	width: 24px;
	border: none;
	cursor: pointer;
}

div.create-new-header button i {
	color: #00000066;
	font-size: 16px;
}

div.create-new-header img {
	width: 12px;
	height: 12px;
	object-fit: contain;
	object-position: center;
}

form.new-cate-form {
	display: flex;
	flex-direction: column;
}

form.new-cate-form label {
	color: #48505e;
	margin-block-start: 1.5rem;
	margin-block-end: 0.3rem;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
}

form.new-cate-form input {
	background-color: #f9f9fc;
	height: 44px;
	padding-left: 14px;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	outline: none;
	border: 1px solid #d0d5dd;
	border-radius: 8px;
}

div.existing-category {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

div.existing-category h4 {
	color: #23272e;
	font-weight: 600;
	font-size: 15px;
	line-height: 17.63px;
}

div.existing-category ul {
	list-style-type: none;
	display: flex;
	gap: 1rem;
	flex-flow: wrap;
}

div.existing-category ul li {
	background-color: #3fa43f;
	color: #ffffff;
	display: flex;
	gap: 0.8rem;
	padding: 8px;
	border-radius: 5px;
}

div.existing-category ul li button {
	background-color: transparent;
	color: #ffffff;
	border: none;
	cursor: pointer;
}

div.create-action-btns {
	align-self: flex-end;
	display: flex;
	gap: 1rem;
}

div.create-action-btns button {
	height: 39px;
	padding: 10px 8px;
	font-weight: 500;
	font-size: 16px;
	line-height: 18.8px;
	border-radius: 4px;
	cursor: pointer;
}

div.create-action-btns button:nth-child(1) {
	background-color: transparent;
	color: #d63737;
	border: 1px solid #d63737;
}

div.create-action-btns button:nth-child(2) {
	background-color: #8a33fd;
	color: var(--main-color);
	border: none;
}

div.sub-category-popup {
	background-color: #ffffff;
	width: 549px;
	height: fit-content;
	display: flex;
	flex-flow: column nowrap;
	gap: 1.9rem;
	position: absolute;
	top: 40%;
	left: 20%;
	padding: 1.7rem;
	z-index: 20;
	border-radius: 16px;
	box-shadow: 0px 3px 20px var(--bd-color);
}

div.sub-category-header {
	display: flex;
	flex-direction: row;
	gap: 1.5rem;
}

div.sub-category-header figure {
	background-color: #ece9fe;
	height: 51px;
	width: 51px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	border-radius: 50%;
}

div.sub-category-header figure img {
	width: 20px;
	height: 20px;
	object-fit: contain;
	object-position: center;
}

div.sub-cate-name {
	width: 80%;
}

div.sub-cate-name h3 {
	color: #23272e;
	font-weight: 500;
	font-size: 24px;
	line-height: 22px;
}

div.sub-cate-name p {
	margin-top: 5px;
}

div.sub-cate-name p,
div.sub-cate-name p mark {
	background-color: transparent;
	color: #85898e;
	font-weight: 400;
	font-size: 15px;
	line-height: 17.63pxpx;
}

div.sub-cate-name + button {
	align-self: flex-start;
	background-color: transparent;
	color: #00000066;
	border: none;
	cursor: pointer;
}

div.sub-category-header + form {
	display: flex;
	flex-direction: column;
}

div.sub-category-header + form label {
	color: #48505e;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	margin-top: 1rem;
	margin-bottom: 0.4rem;
}

div.sub-category-header + form input {
	height: 40px;
}

div.sub-category-header + form input,
div.sub-category-header + form textarea {
	background-color: #f9f9fc;
	color: #000000;
	width: 100%;
	padding: 4px 0.7rem;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	outline: none;
	border: 1px solid #d0d5dd;
	border-radius: 8px;
}

div.sub-category-header + form textarea {
	max-height: 139px;
	min-height: 139px;
	min-width: 100%;
	max-width: 100%;
}

div.sub-category-header + form input::placeholder,
div.sub-category-header + form textarea::placeholder {
	color: #000000;
}

button#add--btn {
	align-self: flex-end;
	background-color: transparent;
	color: var(--active-bg-color);
	margin-top: 0.5rem;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	border: none;
	cursor: pointer;
}

div.sub-cate-list {
	display: flex;
	flex-direction: column;
	gap: 0.7rem;
}

div.sub-cate-list h5 {
	display: block;
	color: #23272e;
	font-weight: 400;
	font-size: 15px;
	line-height: 17.63px;
}

div.sub-cate-list ul {
	display: flex;
	flex-flow: row wrap;
	gap: 1rem;
	list-style-type: none;
}

div.sub-cate-list ul li {
	background-color: #ece9fe;
	color: #8b909a;
	width: fit-content;
	height: 34px;
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 0.5rem;
	font-weight: 400;
	font-size: 15px;
	line-height: 17.63px;
	border-radius: 20px;
}

div.sub-cate-list ul li i {
	color: #d63737;
	cursor: pointer;
}

div.action-cate-btn {
	align-self: flex-end;
	display: flex;
	align-items: center;
	gap: 1rem;
}

div.action-cate-btn button {
	width: 110px;
	height: 39px;
	font-weight: 500;
	font-size: 14px;
	line-height: 18.8px;
	border-radius: 4px;
	cursor: pointer;
}

div.action-cate-btn button:nth-child(1) {
	border: 1px solid #d63737;
	color: #d63737;
}

div.action-cate-btn button:nth-child(2) {
	background-color: var(--active-bg-color);
	color: var(--bd-color);
	border: 1px solid transparent;
}

.hidden {
	display: none !important;
}

.active {
	background-color: var(--active-bg-color) !important;
	color: var(--main-color) !important;
}

.active_pagination {
	background-color: var(--active-bg-color) !important;
	color: var(--main-color) !important;
	box-shadow: 0px 2px 4px #a5a3ae4d;
}

.pending_sty {
	background-color: var(--pdg-bg-color) !important;
	color: var(--pdg-color) !important;
}

.confirm_sty {
	background-color: var(--cnf-bg-color) !important;
	color: var(--cnf-color) !important;
}

.cancel_sty {
	background-color: var(--cal-bg-color) !important;
	color: var(--cal-color) !important;
}

.confirm_sty_modal {
	color: var(--cnf-color) !important;
}

.cancel_sty_modal {
	color: var(--cal-color) !important;
}

.pending_sty_modal {
	color: var(--pdg-color) !important;
}
