@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Sora:wght@100..800&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Lato, sans-serif;
}

body {
	width: 100%;
	height: 102vh;
	display: flex;
	justify-content: center;
}
main {
	max-width: 1100px;
	height: 100%;
}

main section.signin-container {
	width: 100%;
	height: 100%;
	display: flex;
	gap: 2rem;
	padding: 1rem;
}

main section.signin-container aside:nth-child(1) {
	width: 40%;
}
main section.signin-container aside:nth-child(2) {
	width: 55%;
}

main section.signin-container aside:nth-child(1) figure.logoCon img {
	width: 52.1px;
	height: 43px;
	object-fit: contain;
	object-position: center;
}

main section.signin-container aside:nth-child(1) div.headerCon {
	margin-top: 4rem;
}

main section.signin-container aside:nth-child(1) div.headerCon h1 {
	color: #181510;
	font-weight: 500;
	font-size: 36px;
	letter-spacing: -2px;
	line-height: 40px;
	margin-bottom: 0.9rem;
}

main section.signin-container aside:nth-child(1) div.headerCon p {
	color: #181510b2;
	width: 90%;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
}

main section.signin-container aside:nth-child(1) form {
	width: 100%;
	height: fit-content;
}

div.password {
	display: flex;
	align-items: center;
	height: 45px;
	width: 100%;
	position: relative;
}

div.password i {
	width: 24.47px;
	height: 22.37px;
	position: absolute;
	top: 35%;
	right: 2.68px;
	color: #9a9a9a;
	cursor: pointer;
}

main section.signin-container aside:nth-child(1) form input:nth-last-child(4) {
	color: #181510;
	height: 45px;
	width: 100%;
	padding: 5px;
	padding-inline: 0.5rem;
	margin-block: 1rem;
	margin-top: 2rem;
	font-size: 18px;
	font-weight: 400;
	border: 1.86px solid #d9d9d9;
	border-radius: 12px;
	outline: none;
}

main section.signin-container aside:nth-child(1) form input:nth-last-child(2) {
	color: #181510;
	height: 100%;
	width: 100%;
	padding: 5px;
	padding-inline: 0.5rem;
	margin-block: 1rem;
	font-size: 18px;
	font-weight: 400;
	border: 1.24px solid #d9d9d9;
	border-radius: 12px;
	outline: none;
}

main section.signin-container aside:nth-child(1) form input:focus {
	border: 1.86px solid #8a33fd;
}

main section.signin-container aside:nth-child(1) form div.checkbox-con {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

form div.checkbox-con div.check_con {
	display: flex;
	align-items: center;
	gap: 5px;
}

main
	section.signin-container
	aside:nth-child(1)
	form
	div.checkbox-con
	input[type="checkbox"] {
	height: 20px;
	width: 20px;
	border: 2px solid #181510;
	accent-color: #181510;
}

main section.signin-container aside:nth-child(1) form div.checkbox-con label {
	color: #181510;
	font-weight: 500;
	font-size: 17px;
	line-height: 29px;
	cursor: pointer;
}

form div.checkbox-con div.check_con + p a {
	text-decoration: none;
	color: #000000;
	font-weight: 500;
	font-size: 17px;
	line-height: 25px;
}

form div.checkbox-con + button[type="submit"] {
	background-color: #8a33fd;
	color: #ffffff;
	border: none;
	height: 45px;
	width: 100%;
	font-weight: 600;
	font-size: 22.37px;
	letter-spacing: -0.5px;
	border-radius: 12px;
	cursor: pointer;
}

main section.signin-container aside figure.bg {
	height: 100%;
}

figure.bg img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	border-radius: 15px;
}

main section.splash-style-popup {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

main section.splash-style-popup figure {
	width: fit-content;
	/* width: 300px; */
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: fit-content;
	grid-auto-flow: row;
	grid-auto-rows: auto;
	grid-column-gap: 1rem;
	grid-template-areas:
		"row1A row1B"
		"col1A col1B"
		"figcaption figcaption";
	position: relative;
}

main section.splash-style-popup figure img.c-charater {
	height: 41%;
	width: 58%;
	object-fit: contain;
	object-position: center;
	position: absolute;
	top: 3rem;
	left: 20%;
}

main section.splash-style-popup figure img.row {
	width: 120px;
	transform: translateY(0.9rem);
	/* background-color: red; */
}

main section.splash-style-popup figure img.row1 {
	grid-area: row1A;
	transform: translateX(4.5rem);
	margin-top: 1rem;
}
main section.splash-style-popup figure img.row2 {
	grid-area: row1B;
}

main section.splash-style-popup figure img.col {
	height: 60%;
	object-fit: contain;
	object-position: center;
	align-items: end;
	transform: translate(1rem, -1rem);
}

main section.splash-style-popup figure img.col1 {
	grid-area: col1A;
	transform: translate(11rem, -1rem);
}
main section.splash-style-popup figure img.col2 {
	grid-area: col1B;
	transform: translateY(-1rem);
}

main section.splash-style-popup figure figcaption {
	grid-area: figcaption;
	width: 100%;
	color: #000000;
	transform: translateY(-8rem);
	font-size: 56.23px;
	font-weight: 729;
	line-height: 68.54px;
	display: flex;
	justify-content: center;
}

main section.splash-style-popup figure figcaption span:nth-child(5) {
	padding-right: 1.7rem;
}

.hidden {
	display: none !important;
}
