@font-face {
	src: url(/assets/fonts/Montserrat/static/);
	font-family: Montserrat;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Montserrat, sans-serif;
}

body {
	width: 100%;
	display: flex;
	flex-direction: column;
}

main {
	align-self: center;
	max-width: 1100px;
	width: 100%;
	margin-top: 14vh;
	padding-inline: 5rem;
	padding-block-start: 2rem;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-flow: auto;
	grid-template-areas:
		"trackPage trackPage trackPage trackPage"
		"accountsCon wishlistCon wishlistCon wishlistCon";
	grid-gap: 3.5rem;
	margin-block-end: 5rem;
}

main div.track_page {
	grid-area: trackPage;
}

main div.track_page p {
	display: flex;
	align-items: center;
	gap: 1rem;
	color: #807d7e;
	font-size: 18px;
	font-weight: 500;
}

main div.track_page p span:nth-last-child(1) {
	color: #3c4242;
	text-transform: capitalize;
}

main aside.account_container {
	grid-area: accountsCon;
}

main aside.account_container h2 {
	color: #3c4242;
	font-weight: 500;
	font-size: 28px;
	letter-spacing: 1px;
	border-left: 6px solid #8a33fd;
	padding-left: 1rem;
}

main aside.account_container h2 + p {
	color: #807d7e;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 1px;
	margin-block: 1rem;
}

main aside.account_container ul {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 0.4rem;
	list-style-type: none;
}

main aside.account_container ul li {
	color: #807d7e;
	height: 44px;
	display: flex;
	align-items: center;
	gap: 1rem;
	padding-inline-start: 2rem;
	font-size: 16px;
	font-weight: 600;
	border-left: 3px solid transparent;
	transition: all 0.3s linear;
	cursor: pointer;
}

main aside.account_container ul li:hover {
	background-color: #f6f6f6;
	border-left: 3px solid #3c4242;
}

li.signOut {
	position: relative;
}

li.signOut p {
	display: flex;
	align-items: center;
	gap: 1rem;
}

div.signOutPopup {
	position: absolute;
	left: -4rem;
	bottom: -14rem;
	flex-direction: column;
	background-color: #ffffff;
	height: 200px;
	width: 340px;
	box-shadow: 0px 5px 9px #dee2e6;
	border-radius: 5.95px;
	display: none;
	cursor: default;
}

div.signOutPopup p:nth-child(1) {
	align-self: flex-end;
	background-color: #e5e5e5;
	color: #000000;
	height: 22px;
	width: 22px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 17px;
	margin-block: 15px;
	padding: 2.88px;
	border-radius: 50%;
	cursor: pointer;
}

div.signOutPopup div.ques {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

div.signOutPopup div.ques h4 {
	width: 100%;
	text-align: center;
	color: #000000;
	font-size: 16px;
	font-weight: 600;
	line-height: 18.14px;
}

div.signOutPopup div.ques p {
	align-self: center;
	width: 90%;
	text-align: center;
	color: #54595e99;
	font-size: 14px;
	font-weight: 400;
}

div.signOutPopup div.yesNo {
	display: flex;
	justify-content: space-around;
	margin-top: 1.6rem;
}

div.signOutPopup div.yesNo button {
	background-color: transparent;
	width: 124.31px;
	height: 32.74px;
	font-size: 14px;
	font-weight: 500;
	border: 1px solid #8a33fd;
	border-radius: 5.95px;
	cursor: pointer;
}

div.yesNo button.yes {
	background-color: #8a33fd !important;
	color: #ffffff;
}

.defaultStyle {
	background-color: #f6f6f6 !important;
	border-left: 3px solid #3c4242 !important;
}
.defaultStyle-2 {
	background-color: #f6f6f6 !important;
	border-bottom: 3px solid #3c4242 !important;
}

main aside.account_container ul li img {
	object-fit: contain;
	object-position: center;
	width: 15px;
}

main aside.account_container + aside {
	grid-area: wishlistCon;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: auto;
	grid-template-areas:
		"h1 h1"
		"productDes productDes";
	margin-left: 1rem;
	gap: 3rem;
}

main aside.account_container + aside h1 {
	grid-area: h1;
	color: #3c4242;
	letter-spacing: 1px;
	font-size: 28px;
	font-weight: 400;
	text-transform: capitalize;
}

section.active_container {
	grid-area: productDes;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

section.active_container div.accordionBtn {
	height: 50px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 2rem;
	border-bottom: 2px solid #f6f6f6;
}

section.active_container div.accordionBtn button {
	background-color: transparent;
	color: #3c4242;
	height: 100%;
	width: fit-content;
	padding-inline: 2rem;
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 1px;
	margin-bottom: -5px;
	border: none;
	border-bottom: 3px solid transparent;
	transition: all 0.3s linear;
	cursor: pointer;
}

div.accordionBtn button:hover {
	background-color: #f6f6f6 !important;
	border-bottom: 3px solid #3c4242 !important;
}

section.accordion {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

section.accordion article {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding-block-end: 2rem;
	padding-block-start: 1rem;
	border-bottom: 1px solid #edeef2;
}

section.accordion article div.order_des,
div.completedTxt {
	background-color: #f6f6f6;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	padding-inline: 1.5rem;
	padding-block: 2rem;
	border-radius: 8px;
}

article div.order_des p,
section#Cancelled div.order_des div {
	display: flex;
	justify-content: space-between;
}

article div.order_des p:nth-child(1) strong,
article figure figcaption p:nth-child(1) strong,
div.completedTxt p.order {
	color: #3c4242;
	font-weight: 600;
	font-size: 17px;
}

article figure figcaption p:nth-child(1) {
	align-self: flex-end;
}

article div.order_des p:nth-child(2) strong,
article div.order_des p:nth-child(3) strong,
div.order_des div p:nth-child(1) strong,
figure figcaption p.paraTxt strong {
	font-weight: 600;
	font-size: 14px;
	color: #3c4242 !important;
}
article div.order_des p:nth-child(2) b,
article div.order_des p:nth-child(3) b,
p.paraTxt {
	font-weight: 600;
	font-size: 14px;
	color: #807d7e !important;
}

article figure {
	display: flex;
	gap: 0.6rem;
}

figure figcaption p.paraTxt span {
	font-weight: 600;
	font-size: 14px;
}

section#Cancelled div.order_des div p .red {
	color: orangered;
}

section#Cancelled div.order_des div p .green {
	color: green;
}

article figure img {
	height: 96px;
	width: 96px;
	object-fit: cover;
	object-position: center;
	border-radius: 4px;
}

article figure figcaption {
	display: flex;
	flex-direction: column;
	gap: 0.3rem;
}

section#Cancelled div.order_des div p:nth-child(1) {
	align-self: flex-start;
}
div.completedTxt div {
	display: flex;
	justify-content: space-between;
}

div.completedTxt p {
	display: flex;
	justify-content: space-between;
	font-size: 14px;
}

div.completedTxt div p .green {
	color: green;
}

div.completedTxt div + p span strong:nth-last-child(1),
div.order_des div + p span strong:nth-last-child(1),
div.completedTxt div p span strong:nth-child(2),
div.order_des div p:nth-child(1) strong:nth-last-child(1) {
	color: #807d7e !important;
}

div.completedTxt p.order {
	color: #3c4242 !important;
	font-weight: 500;
	font-size: 17px;
}

.hidden {
	display: none !important;
	width: 0 !important;
}

/*

main aside.account_container + aside section {
	width: 100%;
	grid-area: productCon;
	display: flex;
	flex-direction: column;
	gap: 3rem;
}

aside.account_container + aside section div.product_ {
	width: 100%;
	display: flex;
	height: 110px;
	align-items: center;
	gap: 1.7rem;
}

div.product_ i {
	color: #807d7e;
	cursor: pointer;
}

div.product_ div.product_name {
	width: 80%;
	height: 100px;
	display: flex;
	justify-content: space-between;
	gap: 1rem;
}

div.product_ div.product_name p strong:nth-child(1),
div.product_ div.product_name p span:nth-last-child(1) {
	color: #3c4242;
	font-size: 15px;
	font-weight: 700;
	letter-spacing: 1px;
}

div.product_ div.product_name p span b {
	color: #807d7e;
	font-size: 15px;
	font-weight: 700;
	letter-spacing: 1px;
}

div.product_ div.product_name p:nth-child(2) {
	align-self: center;
}

div.product_ div.product_name p:nth-child(1) {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

section div.product_ img {
	height: 100px;
	width: 100px;
	border-radius: 4px;
	object-fit: cover;
	object-position: center;
}

img.imageFirst {
	width: 140px;
}

div.product_ div.product_name p:nth-child(2) {
	display: flex;
	align-items: center;
	gap: 1rem;
}

div.product_ div.product_name p:nth-child(2) span {
	color: #807d7e;
	font-size: 19px;
	font-weight: 700;
	letter-spacing: 1px;
}

div.product_ div.product_name p:nth-child(2) button {
	background-color: #8a33fd;
	color: #f6f6f6;
	padding-inline: 0.8rem;
	padding-block: 0.5rem;
	font-size: 16px;
	font-weight: 500;
	border: none;
	border-radius: 5px;
	cursor: pointer;
} */
